@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <h1>Sistema de Control de Terminales</h1>
    <p class="lead">Gestiona tus solicitudes de una forma ágil y segura.</p>
   
  
</div>

<div class="row">
    <div class="col-md-4">
        <h2> <span class="glyphicon glyphicon-folder-close" aria-hidden="true"></span> Reporte Diario</h2> 
        <p>
            Genera el reporte diario de las salidas de terminales de la agencia. 
        </p>
       
    </div>
    <div class="col-md-4">
        <h2> <span class="glyphicon glyphicon-leaf" aria-hidden="true"></span> Cero Papel</h2>
        <p>Solicita cada terminal sin llenar ningún papeleo.</p>
       
    </div>
    <div class="col-md-4">
        <h2> <span class="glyphicon glyphicon-phone" aria-hidden="true"></span> Mayor Control</h2>
        <p>Registra las anotaciones de los terminales pendientes de rebajar.</p>
       
    </div>
</div>
